<p class="view">
    <a href="https://github.com/mattcannon/rightmove">View the Project on GitHub <small>mattcannon/rightmove</small></a>
</p>
<p class="view">
    <a href="https://twitter.com/mattc_mandc">Follow me on Twitter</a>
</p>
<ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/Documentation.html">Documentation</a></li>
</ul>
<ul class="pill">
    <li><a href="https://github.com/mattcannon/rightmove/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/mattcannon/rightmove/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/mattcannon/rightmove">View On <strong>GitHub</strong></a></li>
</ul>

